*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 600px;
    justify-content: center;
}

.selector img{
    height: 100%; 
    width: 200px;
    object-fit: cover;
}

#selected-img{
    position: relative;
}

#selected-img img{
    height: 100%;
    width: 1000px;
    object-fit: cover;
}

.image-text{
    position: absolute;
    color: white;
    bottom: 0;
    width: 70%;
    padding: 2rem;
}

.buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.selector{
    height: 120px;
}

.image-selector{
    position: relative;
}

button{
    width: 50px;
}

#active{
    border: 3px solid white;
}

#selected-img:active{
    opacity: 1;
}